.reservation {
    background: {
        color: lightgray;
        image: url(../img/about.png), 
        linear-gradient(270deg, #F4F2F2 0%, #FFF 100%);
        blend-mode: overlay;
        size: cover;
        repeat: no-repeat;
    }
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10) inset;
    .wrapper {
        padding: 100px 75px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .cards {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .appetisers {
        display: flex;
        flex-direction: column;
        padding: 0px 80px;
        width: 630px;
        img {
            align-self: center;
            width: 250px;
            height: 23.733px;
            margin-top: 24px;
            margin-bottom: 32px;
        }
        .high {
            align-self: center;
            color: $orange;
            text-align: center;
            font: {
                size: 36px;
                family: Yeseva One;
                weight: 400;
            }
        }
        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            width: 470px;
            p {
                text-align: center;
                color: #000;
                font: {
                    size: 16px;
                    family: Lato;
                    weight: 500;
                }
                line-height: 180%;
                letter-spacing: 0.01em;
    
            }
            p:nth-child(2) {
                margin: 30px 0px;
            }
        }
    
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        input {
            margin: 19px 15px;
            padding: 5px;
            width: 190px;
            border: 1px solid $lightgray;
            outline: none;
            color: $lightgray;
            font: {
                size: 16px;
                family: Lato;
                style: italic;
                weight: 400;
            }
            line-height: 180%;
        }
        input:nth-child(1) {
            border: 1px solid $orange;
        }
        // ::before {
        //     content: 'Name';
        //     width: 50px;
        //     height: 50px;
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     border: 2px solid black;
        // }
    }
    button {
        align-self: center;
        width: 190px;
        border: 1px solid $lightorange;
        background-color: $lightorange;
        padding: 5px 0px;
        margin-top: 23px;
        text-align: center;
        font: {
            size: 14px;
            family: Lato;
        }
        line-height: 180%;
        cursor: pointer;
        a {
            color: #fff;
        }
    }
    

    @include media(1385px) {
        .appetisers {
            padding: 0;
        }
    }
    @include media(1225px) {
        .appetisers .text {
            width: 350px;
        }
        .appetisers form input {
            width: 130px;
        }
    }
    @include media(1110px) {
        .wrapper {
            padding: 100px 30px;
            flex-direction: column;
            align-items: center;
        }
        .wrapper form {
            justify-content: end;
        }
        .high {
            margin-top: 76px;
        }
        .appetisers .text {
            width: 470px;
        }
        .wrapper form input {
            width: 337px;
        }
    }
}